---
import ExperienceItem from "../components/ExperienceItem.astro"

//Experience content
const experience = [
	{ 
		date: "January 2023 - Present",
		companyName: "Freelance",
		companyLogoSrc: "/portfolio/assets/logo/wd-logo.svg",
		jobTitle: "UX/UI Designer",
		tasks: [
			"Creating wireframes, mockups, and prototypes to communicate design ideas",
			"Designing user interfaces for usability and accessibility",
			"Researching housing website trends to guide UX decisions",
			"Collaborating with clients to meet business objectives",
			"Building a design system in Figma with variables and design tokens",
		],
	},	
	{ 
		date: "April 2022 - January 2023",
		companyName: "Studiz",
		companyLogoSrc: "/portfolio/assets/logo/studiz-logo.svg",
		jobTitle: "UX/UI Designer",
		tasks: [
			"Redesigning web/mobile apps in Figma",
			"Improving user experience with user flows and specific use cases",
			"Conducting market and competitor analysis for product improvements",
			"Leading usability tests and incorporating feedback",
			"Coordinating with marketing and development for cohesive design strategies",
			"Developing a design system in Figma",
			"Creating marketing materials",
			"Managing design team and project tasks",
		],
	},
	{ 
		date: "March 2021 - August 2021",
		companyName: "Bleau A/S",
		companyLogoSrc: "/portfolio/assets/logo/bleau-logo.svg",
		jobTitle: "UX/UI Designer",
		tasks: [
			"Redesigning the Intranet Web Platform in Figma",
			"Enhancing user experience with research-based optimizations",
			"Coordinating with marketing and development for cohesive design strategies",
			"Developing a design system in Figma",
			"Creating and developing web components in TypeScript",
		],
	},
	{ 
		date: "January 2021 - March 2021",
		companyName: "Bleau A/S",
		companyLogoSrc: "/portfolio/assets/logo/bleau-logo.svg",
		jobTitle: "UX/UI Designer - Internship",
		tasks: [
			"Redesigning the Intranet Web Platform in Figma",
			"Enhancing user experience with research-based optimizations",
			"Coordinating with marketing and development for cohesive design strategies",
			"Developing a design system in Figma",
		],
	},
	{ 
		date: "April 2020 - July 2020",
		companyName: "Salvatio",
		companyLogoSrc: "/portfolio/assets/logo/salvatio-logo.png",
		jobTitle: "Media creator - Internship",
		tasks: [
			"Creating the content for website, events and social media",
			"Enhancing website performance",
			"Optimizing SEO",
		],
	},
];
---

<section class="flex flex-col justify-center min-h-screen py-8 md:py-16">
	<h2 class="h2 sm:text-center mb-8">Experience</h2>
	<div class="relative w-full">
		<!-- Timeline line -->
		<div class="absolute top-0 bottom-0 left-6 sm:left-1/2 transform sm:-translate-x-1/2 bg-gray-200 w-1"></div>
		{
			experience.map(({date, companyName, companyLogoSrc, jobTitle, tasks}) => (
				<ExperienceItem companyLogoSrc={companyLogoSrc} companyName={companyName} date={date} jobTitle={jobTitle} tasks={tasks}/>
			))
		}
	</div>
</section>
	
